@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
	body {
		margin: 0 !important;
	}
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 795px;
	max-width: 795px;
}

.library-main {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.journal-main {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.title {
    border-bottom: 1px solid black;
    text-align: center;
}
.title_block {
    padding: 2px 10px;
}

/* for Button.tsx */
.dropdown {
    align-items: left;
}
.dropdown > button {
    all: unset;
}
.dropdown > button:hover,
.dropdown > button:focus{
    text-decoration: underline;
    /* background-color: #a7a7a7; */
    color:black
}
.drop-item {
    padding: 5px 10px;
    border-radius: 10px;
}
.drop-item:focus,
.drop-item:hover {
    background-color: #bbbbbb;
    cursor: pointer;
    /* outline: revert; */
}
.dropdown-menu {
    background: #a7a7a7 !important;
    border: 1px solid black !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.418);
}
/* for Book.tsx */
.book_dropdown {
    all: unset;
    display: block;
    width: 100%;
    font-size: large;
    padding: 2px 5px;
    border-radius: 10px;
    
}
.book_dropdown:hover,
.book_dropdown:focus {
    /* text-decoration:underline; */
    background-color: #bbbbbb;
    
}
/* for Book Group */
.category_container {
    background: #a7a7a7;
    min-width: 300px;
    flex-grow: 1;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
}
.book {
    padding: 2px 15px 2px 5px;
    border-radius: 10px;
}
/*
.book:hover,
.book:focus {
    background-color: #bbbbbb;
} */

/* BookModal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-container {
    background: white;
    padding: 0px 25px 25px 25px;
    border: 2px solid black;
    border-radius: 10px;

}
.inner-container > 
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    align-items: center;
    text-align: center;
}

.close-button {
    position: relative;
    border: none;
    left: 150px;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.quote-container {
    padding: 3px 0;
    font-size: larger;
}

.quote-group {
    background: #ffeaa6;
    font-size: large;
    padding: 10px 20px;
    background: rgb(233, 213, 189) 0%;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 1100px;
    margin: 0 auto;
    width: 80%;
    text-align: start;
    /* align-items: center; */
}
.modal-content {
    background-color: #a7a7a7;
}

body {
    background-color: #2f4f4f !important;
}

.edit-quote-form {
    width: 100%;
    display: block;
}

.journal-month-box {
    background-color: #a7a7a7;
    width: 350px;
    max-width: 700px;
    padding: 5px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    flex-grow: 1;
    
}
.journal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.journal-element {
    padding: 2px 4px;
    margin: 2px 5px;
    border: 1px solid black;
    border-radius: 10px;
}
.journal-element:hover,
.journal-element:focus {
    background-color: #bbbbbb;
    cursor: pointer;
}
.reflect-modal > .modal-content {
    background-color: darkslategrey !important;
}

.reflect-modal > .modal-content > .modal-header > .modal-title {
    flex-grow: 1;
    text-align: center;
}

.reflect-modal > .modal-content > .modal-body {
    align-items: center;
    text-align: center;
}
.reflection-container {
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 1400px;
    width: 90%;
    padding: 20px;
    margin: auto;
    background-color: #a7a7a7;
}
.reflection {
    width: 100%;
    margin: auto;
}

.save-btn {
    margin: 10px auto;
    align-items: center;
    padding: 20px 40px;
}

.journal-btn {
    margin: 0 0 5px 10px;
    
}


/* Home CSS */
.daily-quote {
    background: #a7a7a7;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
}
.todo-base {
    display: flex;

}

.todo-container {
    display: flex;
}
.todo-items {
    background: #a7a7a7;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    flex-grow: 1;
    display: inline-block;
}
.todo-item {
    display: flex;
    font-size: larger;
    padding: 5px;

}
.todo-content {
    flex-grow: 1;
    padding: 0px 10px;
}
.todo-delete {
    all: unset;
    padding: 0 8px;
}
.todo-checkbox {
    scale: 1.5;
}
.todo-delete:hover,
.todo-delete:focus {
    background-color: #bbbbbb;
}

.sidebar {
    background: #a7a7a7;
    padding: 10px 0px;
    width: 150px;
    height: 500px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    
    /* display: inline-block; */
}
.todo-body {
    display: flex;
    flex-grow: 10;
}
.main {
    flex-grow: 1;
}
.sidebar-content {
    text-align: center;
    overflow-y: auto;
}
.category_dropdown {
    all: unset;
    text-align: center;
    font-size: larger;
    margin: 2px;
    padding: 5px;
}
.category-menu {
    background: #a7a7a7;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    text-align: center;
}
.category {
    text-align: center;
    font-size: large;
    margin: 2px;
    padding: 5px;
}
.category:hover,
.category:focus {
    background-color: #bbbbbb;
    cursor: pointer;
}
.create-category {
    color: blue;
    text-align: center;
    font-size: large;
    margin: 2px;
    padding: 5px;
}
.create-category:hover,
.create-category:focus {
    background-color: #bbbbbb;
    cursor: pointer;
}
.category-create-form {
    color: blue;
    text-align: center;
    font-size: large;
    margin: 2px;
    padding: 5px;
}
.switch-input {
    background: #a7a7a7 !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
.switch-input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid black;
}

.completed-tasks-dropdown {
    all: unset;
    text-align: center;
    font-size: larger;
    margin: 2px;
    padding: 5px;
}

.switch-input-todo {
    background: #a7a7a7 !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
.switch-input-todo:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid black;
}
/* Util Styles */
.list-item {
    background: #a7a7a7;
    font-size: larger;
    border-radius: 10px;
}
.list-item:hover,
.list-item:focus {
    background-color: #bbbbbb;
    cursor: pointer;
}
.m-2 {
    margin: 2px;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.p-2 {
    padding: 2px;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.flex-grow1 {
    flex-grow: 1;
}
.flex-grow0 {
    flex-grow: 0;
}
.flex-shrink0 {
    flex-shrink: 0;
}
.inline-flex {
    display: inline-flex;
}
.flex {
    display: flex;
}
.font-lg {
    font-size: large;
}
.pd-5 {
    padding: 5px;
}
.pr-5 {
    padding-right: 5px;
}
.color-blue {
    color: blue;
}

.hover-pointer:hover {
    cursor: pointer;
}
.minw-200 {
    min-width: 200px;
}

.mr-auto {
    margin-right: auto;
}
.ml-auto {
    margin-left: auto;
}

/* Login CSS */
/* login-body styles */
.login-body {
    font-family: 'Arial', sans-serif;
    background-color: #2f4f4f; /* Dark Slate Gray */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

/* login-container styles */
.login-container {
    background-color: #a7a7a7; /* Light Gray */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 500px;
}

/* login-header styles */
.login-header {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* login-intro styles */
.login-intro {
    margin-bottom: 30px;
    font-size: 1.1rem;
    color: #555;
}

/* login-ctaBtn styles */
.login-ctaBtn {
    display: inline-block;
    background-color: #008CBA; /* Light Blue */
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login-ctaBtn:hover,
.login-ctaBtn:focus {
    background-color: #005f73; /* Darker Blue */
    cursor: pointer;
}

/* login-footer styles */
.login-footer {
    font-size: 0.9rem;
    color: #777;
    margin-top: 30px;
}

.login-portal {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.create-user-btn {
    all: unset;
    margin: 10px;
    width: auto;
    padding: 2px;
    padding-top: 10px;
}

.hover:hover
.hover:focus {
    cursor: pointer;
}

.create-portal {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.bg-lblue-btn {
    background-color: #008CBA;
}

.bg-lblue-btn:hover,
.bg-lblue-btn:focus {
    background-color: #005f73; /* Darker Blue */
    cursor: pointer;
}

.grey-box {
    background-color: #a7a7a7;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}